.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}

.library-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
  text-decoration: none;
  margin-left:3vw;
}

.header-title {
  font-size: 2rem;
  color: #343a40;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-top: 1.5vh;;
}

.search-box:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
